//footer
footer {
    background-color: $background-footer;
    color: #fff;
    padding-bottom: 1px;
    margin-top: -20px;

    .reverse {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin-top: 20px;

        @include mobile-only {
            flex-direction: column;

        }
    }

    h3 {
        padding: 10px 0 0 30px;
        font-family: $font-title ;
        font-weight: 100;
        margin: 5px;
    }

    ul {
        list-style-type: none;
        display: flex;

        @include mobile-only {
            flex-direction: column;
        }

        li {

            margin-left: 20px;
            a{
                color: white;
            }

            @include mobile-only {
                margin-bottom: 5px;
                margin-left: 0;
            }

            @include tablet-only {
                margin-left: 9px;
            }
            i{
                font-size: 16px;
            }
        }
    }
}