//footer
footer {
    background-color: $background-footer;
    color: #fff;
    padding-bottom: 1px;

    .reverse {
        display: flex;
        flex-direction: row-reverse;
        justify-content: right;
        align-items: center;
        /*margin-top: 20px;*/

        @include mobile-only {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    h3 {
        padding-left: 3em;
        font-family: $font-title ;
        font-weight: 100;
        margin: 0 4em;
        @include mobile-only{
            padding-top: 1em;
            padding-left: 2em;
            margin: unset;
        }
    }

    ul {
        list-style-type: none;
        display: flex;

        @include mobile-only {
            flex-direction: column;
        }

        li {

            margin-left: 20px;
            a{
                color: white;
            }

            @include mobile-only {
                margin-bottom: 5px;
                margin-left: 0;
            }

            @include tablet-only {
                margin-left: 9px;
            }
            i{
                font-size: 16px;
            }
        }
    }
}