@keyframes heart{
    from{
        opacity: 0;
        color: $color-secondary;

    }
    30%{
        font-weight: 800;

    }
    to{
        opacity: 1;
        color: $color-secondary;
        font-weight: 800;
    }
}
@keyframes checkk {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes progress {
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }

    
}
@keyframes loader {
    0%{
        transform: scale(1);
        
    }
    100%{
        transform: scale(0);
    }
    
}
@keyframes pulse {
    0%{
        transform: scale(1);
        color: $color-primary;
        opacity: 0.25;
    }
    50%{
        transform: scale(2);
        opacity: 1;
        color: $color-secondary;
    }
    100%{
        transform: scale(1);
        color: $color-tertiary;
        opacity: 0.25;
    }
}
@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

