@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
// --variable:
//--colors:
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$gradient-btn: linear-gradient(200.64deg, #FF79DA -5.2%, #9356DC 110.74%);
$gradient:linear-gradient(to top, rgba(147, 86, 220), rgba(255, 121, 218));
//--fonts:
$font-title: Shrikhand, sans-serif;
$font-text-content: Roboto, sans-serif;
//--size:
$size-h1: 30px;
$size-h1-D:37px;
$size-h2: 28px;
$size-h2-D:35px;
$size-h3p: 18px;
$size-p: 16px;
$size-btn: 16px;
//--background-color:
$background-primary: #D2D2D2;
$background-secondary: #EAEAEA;
$background-button: #F6F6F6;
$background-footer: #353535;